# Byte-compiled / optimized / DLL files
__pycache__/

# IDEs
.vscode

# environments
.venv

# ruff
.ruff_cache

# macOS
.DS_Store

# experiments
experiments/
plot.py
plot_rotation.py

# test
src_test/
test.py